<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/mfw_static/layui/css/layui.css">
  <link rel="stylesheet" href="/static/mfw_static/css/index.css">
    <title>mfw</title>
</head>

<body>
  <div class="wrap" id="app">
    <div class="menu">
      <ul class="layui-nav layui-nav-tree" lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a href="javascript:;">db_mfw</a>
          <dl class="layui-nav-child">
            <dd class="layui-this"><a href="/app01/index/">t_server</a></dd>
          </dl>
        </li>
      </ul>
    </div>

    <div class="content">
      <div class="contentHead">
          <div class="headTitle">测试</div>
            <form class="headForm" action="/app01/select/" method="post">
                <div class="layui-input-inline searchBlock">
                    <input type="text" name="server" placeholder="SERVER" class="layui-input">
                </div>
                <div class="layui-input-inline searchBlock">
                    <input type="text" name="division" placeholder="DIVISION" class="layui-input">
                </div>
                <div class="layui-input-inline searchBlock">
                    <input type="text" name="node" placeholder="NODE" class="layui-input">
                </div>
                <button class="layui-btn" type="submit">搜索</button>
            </form>
            <a href="/app01/create/" class="layui-btn layui-btn-normal">新增</a>
      </div>
      <div class="contentWrap">
        <table class="layui-table" lay-skin="line">
          <thead>
            <tr>
                <th>序号</th>
                <th>APP</th>
                <th>SERVER</th>
                <th>DIVISION</th>
                <th>NODE</th>
                <th>STATUS</th>
                <th>USE_AGENT</th>
                <th>操作</th>
            </tr>
          </thead>
          <tbody>
               {% for server in server_obj %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ server.app }}</td>
                    <td>{{ server.server }}</td>
                    <td>{{ server.division }}</td>
                    <td>{{ server.node }}</td>
                    <td>{{ server.status }}</td>
                    <td>{{ server.use_agent }}</td>
                    <td>
{#                         这里的server.division必须传值，否则URL匹配不上 #}
                        <a href="/app01/delete/{{ server.node }}/{{ server.server }}/{{ server.division|default:'None' }}/" class="layui-btn layui-btn-danger">删除</a>
                        <a href="/app01/change/{{ server.app }}/{{ server.server }}/{{ server.division|default:'None' }}/{{ server.node }}/{{ server.status }}/{{ server.use_agent }}/" class="layui-btn layui-btn-warm">编辑</a>
                    </td>
                </tr>
                {% endfor %}
          </tbody>
        </table>
            <button class="layui-btn next">下一页</button>
            <button class="layui-btn prv">上一页</button>
      </div>
    </div>
  </div>
</body>

<script src="/static/mfw_static/layui/layui.js"></script>
</html>